/* ul.nav-menu-items {
    background: #383B58;
    opacity: 0.95;
    backdrop-filter: blur(500px);
    z-index: 10;
} */

/* img.carousel-image {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
} */

/* div.carousel-item.fade{
    border-radius:12px 12px 0px 0px;
    border-color: transparent;
} */
.thumbnails {
    background-color: #ffffff;
    height: 127px;
    width: 100%;
    margin: 0px;
    /* padding: 1%; */
    /* border-radius: 10px; */
    /* border-color: transparent; */
}

#thumbnail-div{
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
    padding: 0px;
}

.active-thumbnail{
    display: none;
}
img#thumbnail-0.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-1.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-2.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-3.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-4.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-5.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-6.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-7.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-8.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-9.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-10.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-1.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-12.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-13.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-14.thumbnail{
    border-radius: 10px;
    padding: 0;
}
img#thumbnail-15.thumbnail{
    border-radius: 10px;
    padding: 0;
}

.thumbnails img {
    width: 20%;
    padding: 60px 0px;
   
}

a.next {
    color: white;
    background-color: var(--one-color);
    margin-right: 1%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

a.prev {
    color: white;
    background-color: var(--one-color);
    margin-left: 1%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}
