ul.nav-menu-items {
    background: #383B58;
    opacity: 0.95;
    backdrop-filter: blur(500px);
    z-index: 10;
}

img.carousel-image {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
 

}

div.carousel-item.fade{
    border-radius:12px 12px 0px 0px;
    border-color: transparent;
}
.thumbnails {
    background-color: #ffffff;
    height: 127px;
    width: 100%;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    border-color: transparent;


}

.active-thumbnail{
    display: none;
}

.thumbnails img {
    width: 30%;
    border-radius: 10px;
    padding: 60px 0px;
   
}

a.next {
    background-color: red;
    color: white;
    display: none;

}

a.prev {
    display: none;
}

