.ciudad select{
  width: 100%;
  height: 38px;
  outline: none;
  border-color: transparent;
  background: #FFFFFF;
  border: 1px solid #F3F1ED;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 5px 5px;
}

/*--------------MODELO ADAPTATIVO TABLET---------------*/

@media (min-width: 768px) {
 .ciudad select{
  width: 260px;
 }
}

@media (min-width: 992px) {
  .ciudad select{
    width: 420px;
    
    
  }
}