.calificacion {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.contenedor-estrellas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contenedor-puntuacion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

span.nombre {
  color: #383b58;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
}

span.concepto {
  color: var(--two-color);
  line-height: 12px;
  font-weight: 700;
}

div.puntuacion {
  background-color: var(--two-color);
  width: 34px;
  height: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
