.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--six-color);
  font-size: 12px;
  padding: 60px 0px;
  min-height: 440px;
}

.titulo-crearcuenta {
  display: flex;
  color: var(--one-color);
  font-size: 24px;
  justify-content: center;
}

.crearcuenta-boton button {
  width: 206px;
  height: 40px;
  background-color: var(--one-color);
  color: #fff;
  border: var(--one-color) 1px solid;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  transition: 240ms;
  margin: 5%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.crearcuenta-boton button:hover {
  color: var(--one-color);
  background-color: var(--five-color);
}

form input {
  border-radius: 5px;
  height: 50px;
  width: 440px;
  padding-left: 10px;
  border: 1px solid rgb(202, 201, 201);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form h3 {
  text-align: left;
  color: #383b58;
}

.iniciasesion {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.credenusuario {
  display: flex;
  justify-content: space-between;
}

.usuarionombre input {
  width: 210px;
}

.apellidousuario input {
  width: 210px;
}

div.crearcuenta-boton {
  justify-content: center;
}

.hidden {
  visibility: hidden;
}
.errorMsg {
  color: red;
  padding-top: 2px;
  text-align: right;
}

/**----------------------MODELO ADAPTATIVO TABLET-------------------------*/
@media screen and (max-width: 820px) {
  form input {
    width: 21.63rem;
  }

  .crearcuenta-boton button {
    width: 21.63rem;
    margin: 0%;
    margin-top: 5%;
  }

  .credenusuario {
    flex-direction: column;
  }

  .usuarionombre input {
    width: 21.63rem;
  }

  .apellidousuario input {
    width: 21.63rem;
  }

  form h3 {
    font-size: 0.75rem;
    line-height: 5px;
  }
  .iniciasesion {
    padding-top: 0.5rem;
  }
}
