div.contenedor-titulo {
  display: flex;
  justify-content: center;
  background-color: var(--three-color);
}

.vehiculo {
  background-color: var(--three-color);
  color: var(--five-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  width: 100%;
  max-width: 1368px;
}

.vehiculo p {
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
  color: var(--five-color);
  text-align: left;
}

.vehiculo h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--five-color);
  text-align: left;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .vehiculo {
    padding: 7px 30px;
  }
}
@media screen and (min-width: 992px) {
  .vehiculo {
    padding: 7px 40px;
  }
}
