.botones-header {
  display: flex;
  gap: 10px;
}

.botones-header {
  display: none;
}

/**------------Modelo adaptativo Mobile------------------*/
@media screen and (min-width: 768px) {
  .botones-header {
    display: flex;
  }
  .contenedor-hamburguesa {
    display: none;
  }
}
