.contenedorReserva {
  background: #ffffff;
  border: 1px solid #dfe4ea;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-left: 0.813rem;
  margin-right: 0.813rem;
  margin-top: 2.5rem;
  padding-right: 0.625rem;
}

.imagenAuto h2 {
  color: #383b58;
  padding-left: 5.3%;
  text-align: justify;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.438rem;
  padding-top: 1.938rem;
}

.infoAuto {
  padding-left: 5.3%;
  color: var(--one-color);
  text-align: justify;
  padding-right: 5.3%;
}

.infoAuto hr {
  border: 1px solid #bebebe;
}

.hr {
  margin-top: 1.125rem;
}

.infoAuto h2 {
  color: #383b58;
  font-weight: bold;
  font-size: 1.25rem;
  /* line-height: 0.813rem; */
}

.infoAuto h4 {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #383b58;
  opacity: 0.5;
  padding-top: 20px;
}

.infoAuto > p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #383b58;
}

.imagenAuto .img {
  width: 100%;
  height: 300px;
  border-radius: 0px;
  background-size: cover;
  background-position: center;
}

.calificacionAuto {
  padding-top: 0.938rem;
  padding-bottom: 0.938rem;
}

.infoAuto button {
  background: #1dbeb4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  height: 50px;
  width: 100%;
  color: #ffffff;
  outline: none;
  border-color: transparent;
  margin-bottom: 1.125rem;
  margin-top: 2.313rem;
}

.infoAuto button:hover {
  background-color: var(--three-color);
}

/**--------------MODELO ADAPTATIVO TABLET---------------*/

@media (min-width: 768px) {
  .contenedorReserva {
    display: flex;
    margin-top: 2.5rem;
    padding-right: 21;
    padding-left: 29px;
  }
  .infoAuto {
    width: 50%;
    padding-left: 20px;
  }
  .imagenAuto {
    width: 50%;
    border-radius: 5px;
  }
}

@media (min-width: 992px) {
  .contenedorReserva {
    flex-direction: column;
    display: flex;
    width: 90%;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .hr {
    margin-top: 2.125rem;
  }
  .infoAuto {
    width: 100%;
  }
  .imagenAuto {
    width: 100%;
    border-radius: 0px;
  }
}
