.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.contenedor-logos {
  display: flex;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #ffffff;
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
}

.nav-text {
  /* display: flex; */
  /* justify-content: start; */
  /* align-items: center; */
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}
.nav-text-menu {
  background-color: #1dbeb4;

  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text-menu a {
  color: white;
  font-size: 20px;
  font-weight: 700;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

.nav-text2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 10px 0px 10px;
  list-style: none;
  height: 60px;
  text-align: end;
}
.nav-text2 li {
  text-decoration: none;
  color: #383b58;
  font-size: 18px;
  border-bottom: 1px solid #383b58;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.nav-text a {
  text-decoration: none;
  color: #383b58;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: flex-end;
}

.nav-menu-items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--five-color);
}

.navbar-toggle {
  background-color: #1dbeb4;
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: flex-start;
}

.contenedor-drawer {
  position: absolute;
  bottom: 0%;
  width: 100vw;
  align-items: center;
}

.drawer {
  display: flex;
  width: 100%;
  gap: 13px;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.2rem;
  padding-right: 1rem;
}
.drawer a {
  color: #7d809c;
}
li.nav-text {
  background-color: #ffffff;
}
li.nav-text2 {
  background-color: #ffffff;
}
.nav-menu.active {
  background-color: #ffffff;
}

div.cerrar-sesion {
  cursor: pointer;
  text-align: right;
  margin-right: 15px;
  color: var(--two-color);
  font-weight: 700;
}

div.cerrar-sesion span.titulo {
  color: var(--one-color);
}

.hidden {
  display: none;
}

span.nav {
  color: var(--two-color);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  /* El menú hamburguesa no aparece en Tablet ni Desktop*/
  .contenedor-hamburguesa {
    display: none;
  }
}
