div.contenedorClonador {
  width: 100%;
  background: rgb(248, 248, 248);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px;
  margin: 13px 0 30px 0;
}
div.contenedorFormulario {
  width: 100%;
  background: rgb(248, 248, 248);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px;
  margin: 13px 0 30px 0;
}
h3 {
  color: var(--two-color);
}

div.contenedorBoton {
  display: flex;
  justify-content: center;
}
