div.contenedorFormularioProducto {
    background: rgb(248, 248, 248);
    box-sizing: border-box;
    width: 100%;

}

.formulario1 input,
.formulario2 input{
    width: 100%;
    background:#FFFFFF;
    height: 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.formulario3 input{
    width: 100%;
    background:#FFFFFF;
    height: 120px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-style: none;
    padding-left: 15px;
}


.nombreInput::placeholder {

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #BEBEBE;
    text-align: left;
}
.direccionInput::placeholder {

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #BEBEBE;
    text-align: left;
}

.descripcionInput::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #BEBEBE;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

h3{
    color: var(--two-color);
    padding-bottom: 5px;
   font-size: 14px;
}
.tituloinputSelect{
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .contenedorFormularioProducto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .formulario1,
    .formulario2 {
        gap: 22px; 
        justify-content: space-between;   


    }
    .tituloinput{
        width: 100%;
    }
    .tituloinputSelect{
        width: 100%;
    }
    .formulario1 label {
        width: 100%;
    }

    .formulario2 label {
        width: 100%;
        padding-top: 20px;

    }
    div.formulario1{
        display: flex;
        flex-direction: row;
    }
    div.formulario2{
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 992px) {

}




