.categoria {
  width: 100%;
  height: 246px;
  background: #ffffff;
  border: 1px solid #f3f1ed;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: 240ms;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.categoria:hover {
  filter: grayscale(80%);
}

.categoria div.img {
  height: 183px;
  border-radius: 10px 10px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

div.detalle {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
span.titulo {
  color: var(--two-color);
  font-size: 20px;
  font-weight: 700;
  text-align: justify;
}

span.cantidad {
  font-size: 14px;
  color: var(--two-color);
  opacity: 60%;
  padding-bottom: 5px;
  line-height: 20px;
  text-align: justify;
  font-weight: bold;
}

/**----------MODELO ADAPTATIVO TABLET ----------------*/
@media screen and (min-width: 768px) {
  .categoria {
    max-width: 347px;
  }
}

/**-------MODELO ADAPTATIVO MOBILE----------------**/

@media screen and (min-width: 992px) {
  .categoria {
    max-width: 310px;
  }
}
